<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/styles.css"/>
  <title>About</title>
  <link rel="icon" href="/img/weather.png">
</head>
<body>
  <div class="main-content">
    {{>header}}
    <p>This is a project made for Andrew Mead's Node.js Course (3rd Edition)</p>
  <img class="portrait" src="/img/danielcortes2017headshot.jpg"/>
  </div>
  
  {{>footer}}
</body>
</html>